.best-offers {
  position: relative;
}

.best-offers_gray {
  background-color: #F3F5F7;
}

.best-offers__inner {
  padding: 48px 0px;
}

.best-offers__title {
  color: rgba(19, 17, 17, 1);
}

.best-offers__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  position: relative;
}

.best-offers__viewport {
  overflow: hidden;
  width: 1244px;
}

.best-offers__list {
  display: flex;
  transition: transform 0.5s ease;
  gap: 48px;
  align-items: stretch; 
  height: 465px; 
}

@media (max-width: 640px) {
  .best-offers__viewport {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .best-offers__list {
    flex-wrap: nowrap;
    gap: 16px;
    transition: none;
    height: auto;
    padding: 0 16px 10px 16px; /* Added horizontal padding here */
  }

  .best-offers__list > * {
    width: 280px;
    flex-shrink: 0;
  }

  .best-offers__main {
    margin-top: 24px;
    justify-content: center;
  }

  .Arrow {
    display: none !important; /* убираем стрелки полностью */
  }
}

