.best-offers {
  position: relative;
}

.best-offers_gray {
  background-color: #F3F5F7;
}

.best-offers__inner {
  padding: 48px 0px;
}

.best-offers__title {
  color: rgba(19, 17, 17, 1);
}

.best-offers__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  position: relative;
}

.best-offers__viewport {
  overflow: hidden;
  width: 1244px;
}

.best-offers__list {
  display: flex;
  transition: transform 0.5s ease;
  gap: 48px;
  align-items: center; /* Center items vertically */
  height: 450px; /* Match the card height */
}

@media (max-width: 640px) {
  .best-offers__viewport {
    width: 405px;
    overflow-x: auto;
    margin: 0 auto;
  }

  .best-offers__list {
    flex-wrap: nowrap;
    gap: 24px;
    transition: none;
    height: 380px; /* Match the mobile card height */
  }

  .best-offers__main {
    margin-top: 24px;
    justify-content: center;
  }

  .Arrow {
    display: none !important; /* убираем стрелки полностью */
  }
}
