.configurator {
  background-color: #131111;
  color: white;
}

.configurator__main {
  display: flex;

  
  gap: 70px; /* вот здесь точное расстояние */
  align-items: flex-start;
  flex-wrap: wrap;

  padding-top: 134px;


}

.configurator__image {
  padding: calc(632 / 1123.2 * 100% / 2);
  transform: rotateY(180deg);
}

.configurator__title {
  font-size: 39px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -1.2px;
}

.configurator__icon {
  margin-top: 22px;
}

.configurator__text {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 100%;
  letter-spacing: -1px;
  max-width: calc(439px * 0.9);
  word-wrap: break-word;
}

.configurator__group {
  display: flex;
  margin-top: 36px;
}

.configurator__group>*:not(:first-child) {
  margin-left: 16px;
}



.group {}

.group__button {}

.configurator__option {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
}

.variant {}

.variant__title {
  display: flex;
  font-size: 18px;
  line-height: 100%;
}

.variant__text {
  font-weight: 500;
  letter-spacing: -1px;
}

.variant__subtext {
  margin-left: 24px;
  font-weight: 400;
  letter-spacing: -1.2px;
  color: rgba(255, 255, 255, 0.6);
}

.variant__inner {
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.variant__inner>*:not(:first-child) {
  margin-left: 12px;
}

.configurator__btn {
  margin-top: 54px;
}

.configurator__description {
  margin-top: 107px;
}

.configurator-text {
}

.configurator-text__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.2px;
}

.configurator-text__desc {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1.2px;
  margin-top: 40px;
}