  .configurator {
    background-color: #131111;
    color: white;
  }

  .configurator__main {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 40px;
  }
  
  .configurator__no_model {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  border-radius: 8px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

  .configurator__image {
    /* margin: 0px calc(40 / 1000 * 100%); */
  }

.configurator__panel {
  flex: 1 0 auto;
}

  .panel__conf {
    margin-top: 0px !important;
  }

  .panel__item:not(:first-child) {
    margin-top: 40px;
  }

  .materials__items {
    display: flex;
    gap: 18px;
    margin-top: 16px;
  }

  .configurator__icon {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }

  .configurator__icon-element {
    margin-left: 10px;
    cursor: pointer;
    padding: calc(24 / 449 * 100% / 2);
  }

  .configurator__title {
    padding-top: 82px;
  }

  .configurator__text {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    line-height: 23px;
    letter-spacing: -1px;
    word-wrap: break-word;
  }

  .configurator__panel {
    max-width: 372px;
  }

  .panel__colors {
    margin-top: 24px;
  }
  /* Rsul loh aooaohahaha */
  @media (max-width: 600px) {
    .panel__colors {
      max-width: 280px;
    }
  }

  .configurator__group {
    display: flex;
    margin-top: 36px;
  }

  .configurator__group>*:not(:first-child) {
    margin-left: 16px;
  }

  .configurator__button-last {
    margin-top: 72px;
  }

  .configurator__description {
    margin-top: 107px;
  }
  .configurator__description  h3{
    font-size: 32px;
  }


.configurator-text__desc {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -1.2px;
  margin-top: 40px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}




  @media (max-width: 900px) {
    .configurator__main {
      /* padding-top: 32px; Why to add this?*/
      padding-top: 0px;
    }
  }

  .input {
  width: 100%;
  padding: 12px 16px;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  transition: border 0.3s ease;
}

.input:focus {
  border-color: #ff6600;
  outline: none;
}

.inputError {
  border-color: #e74c3c;
  background-color: #fff5f5;
}

.error {
  margin-top: 6px;
  font-size: 0.875rem;
  color: #e74c3c;
  font-weight: 500;
}


.success {
  background-color: #eafaf1;
  border: 1px solid #2ecc71;
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1em;
  text-align: center;
  font-weight: 500;
  color: #2ecc71;
}
