.header__item {
  margin-left: 48px;
}

.header__item:first-child {
  margin-left: 0;
}

.header__link {
  line-height: 120%;
}

.headerItem {
  position: relative;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background: rgba(19, 17, 17, 0.6); /* полупрозрачный фон */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* для Safari */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1001;
  list-style: none;
  padding: 24px 18px;
  margin: 0;
  border-radius: 8px;
  color:white;
}

.dropdownItem {
  cursor: pointer;
  white-space: nowrap;
  transition: background 1.2s;
}
.dropdownItem:not(:last-child) {
  margin-bottom: 24px; /* расстояние между пунктами */
}

.dropdownItem:hover {
  color: var(--accent-color)
}