.list {
    box-sizing: border-box;
    margin: 0 18px;
}

.list__row {
    display: flex;
    align-items: center;
}

.list__row:not(:first-child) {
    margin-top: 24px;
}

.list__row > *:first-child {
    flex: 1 1 auto;
}

.list__inner {
    display: flex;
    align-items: center;
}


.list__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -1px;
    vertical-align: middle;
}

.list__line {
    flex-grow: 1;
    border-bottom: 1px dotted black;
    height: 0;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.2);
    margin: 0 20px 0 15px;
}

.list__values {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.6);
    width: 512px;
}