@import url('./shared.css');
@import url('./components/header.css');
@import url('./components/welcome.css');
@import url('./components/configurator.css');
@import url('./components/description.css');
@import url('./components/footer.css');
@import url('./components/podpiska.css');
@import url('./components/best-offers.css');

:root {
    --header-max-width: 1338px;
    --general-font-size: 16px;
    --general-color: #131111;
    --general-max-width: 1190px;
    --accent-color: #FF7244;
    --letter-space: -0.03em;
    --line-height: 120%;
}


@font-face {
    font-family: "Suisse Int'l";
    src: url('/fonts/suisse_intl/SuisseIntl-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Suisse Int'l";
    src: url('/fonts/suisse_intl/SuisseIntl-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Graphik";
    src: url('/fonts/graphik/GraphikLCG-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Graphik";
    src: url('/fonts/graphik/GraphikLCG-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Graphik";
    font-size: var(--general-font-size);
    font-weight: 400;
    color: var(--general-color);
    letter-spacing: var(--letter-space);
    line-height: var(--line-height);
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    letter-spacing: var(--letter-space);
    line-height: var(--line-height);
}

a {
    text-decoration: none;
    color: inherit;
    letter-spacing: var(--letter-space);
    line-height: var(--line-height);
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1 0 auto;
}

._container {
    max-width: calc(var(--general-max-width));
    margin: 0 auto;
    padding: 0 15px;
}

._container-bigger {
    max-width: calc(var(--header-max-width));
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    cursor: pointer;
}

.btn__item {
    background: transparent;
    padding: 12px 23px;
    color: white;
    border-radius: 28px;
    border: 1px solid rgba(72, 71, 71, 1);
}

.btn__item_padding {
    padding: 32.5px 23px;
}

.btn__item_selected {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 3px rgba(255, 114, 68, 0.1);
}

.btn__action {
    color: white;
    background-color: var(--accent-color);
    padding: 12px 24px;
    border-radius: 56px;
    border: 0px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    font-weight: 400;
}