* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Graphik";
  font-size: var(--general-font-size);
  font-weight: 400;
  color: var(--general-color);
  letter-spacing: var(--letter-space);
  line-height: var(--line-height);
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  letter-spacing: var(--letter-space);
  line-height: var(--line-height);
}

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: var(--letter-space);
  line-height: var(--line-height);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}