.list {
    background-color: var(--general-color);
}

.list__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.list__inner>*:not(:first-child) {
    margin-left: 40px;
}

@media (max-width: 768px) {
    .list__inner {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .list__inner>*:not(:first-child) {
        margin-left: 0;
        margin-top: 24px;
    }
}