.list {
    background-color: var(--general-color);
}

.list__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.list__inner > *:not(:first-child) {
    margin-left: 40px;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .list__inner {
        flex-direction: column;
        align-items: stretch; /* или center, если нужно выравнивание по центру */
    }
    .list__inner > *:not(:first-child) {
        margin-left: 0;
        margin-top: 24px; /* вертикальный отступ между карточками */
    }
}