/* pagination */
.pagination {
    margin-top: 48px;
    margin-bottom: 48px;
}

.pagination__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.pagination__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination__arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.pagination__arrow_disabled {
    cursor: not-allowed;
    opacity: 0.5;
}