.catalog {
    background-color: var(--general-color);
}

.catalog__inner {
    padding: 48px 0;
    padding-bottom: 100px;
}

@media (max-width: 768px) {
    .catalog__inner {
        padding: 24px 16px;
        padding-bottom: 100px;
    }
}