.card {
    background-color: var(--accent-color-opacity);
    border-radius: 8px;
    flex: 0 1 33.33%;
}

.card__header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.desc__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1.2px;
  margin: 0; /* УБИРАЕМ margin-top */
}


.card__inner {
    padding: 32px;
}

.card__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 16px;
    margin-top: 8px;
    background-color: var(--accent-color-opacity);
}

.card__img {
    padding: 16px;
}

.card__img img {
    width: 32px;
    height: 32px;
}


.desc__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1.2px;

    /* margin-top: 32px; */
    text-align: center;
}

.desc__text {
    font-family: "Suisse Int'l", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: rgba(162, 162, 162, 1);
    margin-top: 24px;
}

@media (max-width: 768px) {
  .desc__title {
    text-align: left;
  }
}
