.listing__inner {
  padding: 48px 16px 0px 16px;
  color: #131111;
}

.listing__title {
  color: #131111;
}

.listing__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 40px;
  padding: 0 16px;
  justify-content: center;
}

.listing__items > * {
  justify-self: center; /* Center cards horizontally */
}

/* планшеты */
@media (max-width: 1024px) {
  .listing__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* мобильные */
@media (max-width: 600px) {
  .listing__items {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 10px;
  }
}









