.listing__inner {
  padding: 48px 16px 0px 16px;
  color: #131111;
}

.listing__title {
  color: #131111;
}
.listing__items {
  display: flex;
  flex-wrap: wrap;
  gap: 32px; /* заменяет margin-left и margin-top */
  margin-top: 40px;
  padding: 0 16px;
  justify-content: center;
}

.listing__items > * {
  flex: 1 1 calc(33.333% - 32px);
  max-width: calc(33.333% - 32px);
  box-sizing: border-box;
}

/* планшеты */
@media (max-width: 1024px) {
  .listing__items > * {
    flex: 1 1 calc(50% - 32px);
    max-width: calc(50% - 32px);
  }
}

/* мобильные */
@media (max-width: 600px) {
  .listing__items {
    gap: 20px;
    padding: 0 10px;
  }

  .listing__items > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
}









