.footer {
    background-color: var(--general-color);
    color: white;
    font-family: "Suisse Int'l";
}

.footer__inner {
    position: relative;
}

.footer__inner>*:last-child {
    position: absolute;
    top: 55px;
    right: 15px;
}

.footer__upper {
    margin-bottom: 72px;
}

.footer__header {
    position: relative;
    padding: 32px 0 33px 0;
}

.footer__header:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    opacity: 0.1;
}

/* FOOTER LIST - ready */

.footer__list {
    display: flex;
    flex-wrap: wrap;
}

.footer-list__item {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: rgba(255, 255, 255, 1);
}

.footer-list__item:not(:first-child) {
    margin-left: 48px;
}

/* FOOTER CONTENT */

.footer__content {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    flex-wrap: wrap;
    letter-spacing: -0.03em;
}

.footer__column:first-child {
    flex: 1 1 auto;
}

.footer__logo {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.footer__desc {
    font-family: 'Graphik';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: var(--general-gray);
    opacity: 0.5;
    margin-top: 16px;
}

.footer__contacts {
    display: flex;
}

.contacts>*:not(:first-child) {
    margin-left: 38px;
}

.contacts__item {
    font-family: 'Graphik', sans-serif;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.01em;
    margin-top: 56px;
}

/* FOOTER INFO - ready */

.footer__info {
    display: flex;
    margin-top: 125px;
}

.footer__info>*:not(:first-child) {
    margin-left: 64px;
}

.footer__info-block {
    font-family: 'Graphik', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
}

.footer__info-title {
    color: var(--general-gray);
    opacity: 50%;
}

.footer__info-text {
    color: rgba(255, 255, 255, 1);
    margin-top: 12px;
}


/* FOOTER MENU */

.menu {}

.menu>*:not(:last-child) {
    margin-bottom: 32px;
}

.menu__item {
    font-family: 'Graphik', sans-serif;
    font-size: 24px;
    line-height: 19px;
    letter-spacing: -0.01em;

}

.menu__item a:hover {
    color: var(--accent-color);
}


.footer__whatsapp {


    margin-top: 79px;
}

.whatsapp {
    font-family: 'Graphik', sans-serif;
}


.whatsapp__inner {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 24px;
    position: relative;
    width: fit-content;
    transition: all 0.3s ease;
    padding: 16px 59px 16px 24px;
}

.whatsapp__inner:hover {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.whatsapp__icon {
    padding: 12px;
}

.whatsapp__text {
    display: flex;
    flex-direction: column;
    line-height: 19px;
    margin-left: 12px;
}

.whatsapp__title {
    color: var(--general-gray);
    opacity: 50%;
}

.whatsapp__link {
    font-family: "Suisse Int'l";
    color: white;
    margin-top: 4px;
    letter-spacing: -0.03em;
}

/* FOOTER BOTTOM */

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
    position: relative;
    align-items: center;

    font-family: 'Graphik', sans-serif;
    color: var(--general-gray);
    line-height: 19px;
    letter-spacing: -0.01em;
}

.footer__bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    opacity: 0.1;
}

.footer__copyright {
    opacity: 0.5;
}

.footer__conf {
    display: flex;
}

.conf__item {
    opacity: 0.5;
}

.conf__item:not(:first-child) {
    margin-left: 48px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .footer__list {
        flex-direction: column;
        gap: 12px;
    }

    .footer-list__item:not(:first-child) {
        margin-left: 0;
    }
    .footer__info > *:not(:first-child) {
        margin-left: 0;
    }

    .footer__content {
        flex-direction: column;
        gap: 32px;
        padding-top: 24px;
    }

    .footer__column {
        max-width: 100%;
    }

    .footer__contacts {
        flex-direction: column;
        gap: 12px;
        margin-bottom: 32px;
        margin-top: 32px;
        font-size: 18px;
    }

    .footer__info {
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;
    }

    .footer__whatsapp {
        display: flex;
        gap: 16px;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 16px;
        text-align: center;
    }

    .footer__logo {
        font-size: 20px;
    }

    .footer__desc,
    .footer__info-text,
    .footer__info-title,
    .footer__whatsapp-title {
        font-size: 14px;
    }

    .footer__menu li {
        margin-bottom: 12px;
    }

    .footer__header {
        display: none;
    }

    .footer__content {
        padding: 48px 16px;
    }

    .footer__conf {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .whatsapp__icon {
        width: 30px;
        height: 30px;
    }

}